 .u-section-1 {
  background-image: none;
  min-height: 791px;
}

.u-section-1 .u-image-1 {
  width: 1311px;
  left: auto;
  right: 0;
}

.u-section-1 .u-group-1 {
  width: 588px;
  min-height: 723px;
  height: auto;
  margin: 68px auto 0 calc(((100% - 1920px) / 2) + 14px);
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 28px -16px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  margin: 21px 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: normal;
  margin: 20px 140px 0 0;
}

.u-section-1 .u-image-2 {
  width: 122px;
  height: 122px;
  background-image: url("images/HTML.jpg");
  background-position: 50% 50%;
  margin: 68px auto 0 22px;
}

.u-section-1 .u-image-3 {
  width: 122px;
  height: 122px;
  background-image: url("images/VSC.jpg");
  background-position: 50% 50%;
  margin: -122px 140px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 122px;
  height: 122px;
  background-image: url("images/LeetCode.png");
  background-position: 50% 50%;
  margin: -122px auto 0 166px;
}

.u-section-1 .u-image-5 {
  width: 122px;
  height: 122px;
  background-image: url("images/JS.jpg");
  background-position: 50% 50%;
  margin: 28px auto 0 166px;
}

.u-section-1 .u-image-6 {
  width: 122px;
  height: 122px;
  background-image: url("images/CSS.jpg");
  background-position: 50% 50%;
  margin: -122px auto 0 22px;
}

.u-section-1 .u-image-7 {
  width: 122px;
  height: 122px;
  background-image: url("images/GIT.jpg");
  background-position: 50% 50%;
  margin: -122px 140px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 791px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 1199px) / 2) + 14px);
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-text-3 {
    font-style: italic;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 326px;
  }

  .u-section-1 .u-image-1 {
    width: 541px;
    height: 326px;
  }

  .u-section-1 .u-group-1 {
    width: 541px;
    margin-left: calc(((100% - 541px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 93px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 767px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 205px;
  }

  .u-section-1 .u-image-1 {
    object-position: 63.96% 50%;
    background-position: 63.96% 50%;
    width: 340px;
    height: 205px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 20px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-group-1 {
  width: 929px;
  min-height: 290px;
  height: auto;
  margin: 55px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 60px 20px 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-2 .u-line-1 {
  width: 226px;
  transform-origin: left center 0px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-style: normal;
  margin: 25px 20px 0;
}

.u-section-2 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 401px;
  height: 401px;
  margin: -346px auto 0 229px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(26deg);
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-line-1 {
    width: 82px;
    height: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 541px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 63px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-rotation-parent-1 {
    margin-left: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-line-1 {
    width: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-line-1 {
    width: 50px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 254px;
    height: 254px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 608px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 51px;
}

.u-section-3 .u-image-1 {
  min-height: 527px;
  background-image: url("images/Code.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 527px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  position: relative;
  font-size: 1.5rem;
  margin: 133px 20px 0;
}

.u-section-3 .u-text-2 {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-3 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px 260px 0 20px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-style: normal;
  margin: 30px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 82px;
    margin-right: 198px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-line-1 {
    width: 63px;
    margin-right: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-line-1 {
    width: 59px;
    margin-right: 114px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 50px;
    margin-right: 72px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 788px;
}

.u-section-4 .u-list-1 {
  width: 1167px;
  margin: 0 calc(((100% - 1920px) / 2)) 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  min-height: 705px;
  grid-gap: 50px 50px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 47px auto 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1.25rem;
  background-image: none;
  margin: 47px auto 0 0;
  padding: 18px 30px 19px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 47px auto 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 47px auto 0 0;
  padding: 18px 30px 19px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-3 {
  font-size: 3rem;
  margin: 47px auto 0 0;
}

.u-section-4 .u-btn-3 {
  font-size: 1.25rem;
  background-image: none;
  margin: 47px auto 0 0;
  padding: 18px 30px 19px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  margin: 47px auto 0 0;
}

.u-section-4 .u-btn-4 {
  font-size: 1.25rem;
  background-image: none;
  margin: 47px auto 0 0;
  padding: 18px 30px 19px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1920px) / 2) + 739px);
  height: 789px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: -706px auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: -600px auto 0 calc(((100% - 1920px) / 2) + 91px);
}

.u-section-4 .u-text-6 {
  font-size: 1.75rem;
  margin: 20px auto 60px calc(((100% - 1920px) / 2) + 91px);
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: calc(((100% - 1199px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 1199px) / 2) + 739px);
    margin-top: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-left: calc(((100% - 1199px) / 2) + 91px);
  }

  .u-section-4 .u-text-6 {
    margin-left: calc(((100% - 1199px) / 2) + 91px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1291px;
  }

  .u-section-4 .u-list-1 {
    width: 541px;
    margin-right: auto;
    margin-left: calc(((100% - 1920px) / 2) + 690px);
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-shape-1 {
    width: 541px;
    height: 541px;
    margin-left: calc(((100% - 1920px) / 2) + 690px);
  }

  .u-section-4 .u-text-5 {
    margin-top: -415px;
    margin-left: calc(((100% - 1920px) / 2) + 781px);
  }

  .u-section-4 .u-text-6 {
    margin-left: calc(((100% - 1920px) / 2) + 781px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    margin-left: calc(((100% - 767px) / 2) + 226px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: calc(((100% - 767px) / 2) + 226px);
  }

  .u-section-4 .u-text-5 {
    margin-top: 189px;
    margin-left: calc(((100% - 767px) / 2) + 1107px);
  }

  .u-section-4 .u-text-6 {
    margin-left: calc(((100% - 767px) / 2) + 1107px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1080px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 1920px) / 2) + 790px);
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: calc(((100% - 1920px) / 2) + 790px);
  }

  .u-section-4 .u-text-5 {
    margin-top: -218px;
    margin-left: calc(((100% - 1920px) / 2) + 881px);
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 1920px) / 2) + 881px);
  }
} .u-section-5 {
  background-image: url("images/6175d15a-5ba4-4a87-1dc0-fd78dceb8344.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 534px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 71px;
  margin-bottom: 33px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 530px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 189px 20px 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 18px auto 0 20px;
}

.u-section-5 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 448px;
  height: 448px;
  margin: -254px 42px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 435px;
  height: 198px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: -179px 617px 0 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 530px;
}

.u-section-5 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 330px;
  height: 356px;
  margin: -31px auto 0 -109px;
}

.u-section-5 .u-image-2 {
  width: 229px;
  height: 284px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(334deg);
}

.u-section-5 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 517px;
  height: 483px;
  margin: -379px 111px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 410px;
  height: 333px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) scaleX(-1) rotate(27deg);
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 134px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-5 .u-rotation-parent-1 {
    margin-top: -379px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-top: -17px;
    margin-right: 277px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-5 .u-rotation-parent-2 {
    height: 355px;
    margin-top: -32px;
  }

  .u-section-5 .u-rotation-parent-3 {
    margin-top: -378px;
    margin-right: 33px;
  }

  .u-section-5 .u-image-3 {
    width: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 24px;
    margin-left: -24px;
  }

  .u-section-5 .u-text-2 {
    margin-left: -24px;
    margin-right: -24px;
  }

  .u-section-5 .u-rotation-parent-1 {
    width: 221px;
    height: 221px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 215px;
    height: 98px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 201px;
    margin-right: 0;
  }

  .u-section-5 .u-rotation-parent-2 {
    width: 221px;
    height: 238px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    width: 153px;
    height: 190px;
  }

  .u-section-5 .u-rotation-parent-3 {
    width: 221px;
    height: 206px;
    margin-top: -261px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    width: 176px;
    height: 143px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 335px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-5 .u-rotation-parent-1 {
    margin-top: -345px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 166px;
  }
}