 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/CodeHTMLpage.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 587px;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  margin: 184px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    font-size: 9.375rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 278px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 549px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-size: 1.875rem;
  width: 733px;
  font-weight: 700;
  margin: 60px auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 624px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1183px;
  margin: 60px auto 0 50px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 495px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 504px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 385px;
  height: 385px;
  background-image: url("images/Chromeicon.png");
  background-position: 50% 50%;
  margin: -504px 324px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 335px;
  height: 163px;
  margin: -44px 349px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-left: 16px;
  }

  .u-section-3 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 541px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 156px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 726px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 456px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 1px;
    margin-right: 5px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 615px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-4 .u-image-1 {
  min-height: 495px;
  background-image: url("images/HMTLCSSJS.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 495px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 309px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 139px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -80px;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 394px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 175px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 750px;
}

.u-section-5 .u-video-1 {
  width: 1020px;
  height: 592px;
  margin: 70px -4px 0 auto;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -592px auto 0 28px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 1070px 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-5 .embed-responsive-1 {
    width: 100%;
    left: 0%;
    height: 453%;
    top: -177%;
  }

  .u-section-5 .u-text-2 {
    margin-right: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-5 .u-video-1 {
    width: 541px;
    height: 314px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: -314px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 197px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -197px;
  }
} .u-section-6 {
  background-image: url("images/6175d15a-5ba4-4a87-1dc0-fd78dceb8344.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 534px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 71px;
  margin-bottom: 33px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 530px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 189px 20px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0 20px;
}

.u-section-6 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 448px;
  height: 448px;
  margin: -254px 42px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 435px;
  height: 198px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -179px 617px 0 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 530px;
}

.u-section-6 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 330px;
  height: 356px;
  margin: -31px auto 0 -109px;
}

.u-section-6 .u-image-2 {
  width: 229px;
  height: 284px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) rotate(334deg);
}

.u-section-6 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 517px;
  height: 483px;
  margin: -379px 111px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 410px;
  height: 333px;
  transform-origin: center center 0px;
  transform: translateX(-50%) translateY(-50%) scaleX(-1) rotate(27deg);
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 134px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-6 .u-rotation-parent-1 {
    margin-top: -379px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-top: -17px;
    margin-right: 277px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-6 .u-rotation-parent-2 {
    height: 355px;
    margin-top: -32px;
  }

  .u-section-6 .u-rotation-parent-3 {
    margin-top: -378px;
    margin-right: 33px;
  }

  .u-section-6 .u-image-3 {
    width: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 24px;
    margin-left: -24px;
  }

  .u-section-6 .u-text-2 {
    margin-left: -24px;
    margin-right: -24px;
  }

  .u-section-6 .u-rotation-parent-1 {
    width: 221px;
    height: 221px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 215px;
    height: 98px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 201px;
    margin-right: 0;
  }

  .u-section-6 .u-rotation-parent-2 {
    width: 221px;
    height: 238px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 153px;
    height: 190px;
  }

  .u-section-6 .u-rotation-parent-3 {
    width: 221px;
    height: 206px;
    margin-top: -261px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    width: 176px;
    height: 143px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 335px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-6 .u-rotation-parent-1 {
    margin-top: -345px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 166px;
  }
}